main {
  padding: 20px;
  width: 360px;
  height: 360px;
  background-color: #F5F5F5;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

div.board {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 24px 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

button {
  font-size: 21px;
  font-weight: 700;
  font-family: Karla, Courier, monospace;
  border-radius: 10px;
  cursor: pointer;
}

button.die {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 20px;
  width: 36px;
  height: 36px;
  box-shadow: 0px 2px 2px 0px #00000026;
  color: #2B283A;

  justify-self: center;
  /* align-self: center; */
}

button.die.isHeld {
  background-color: #59E391;
}

button.roll {
  background-color: #5035FF;
  grid-row: 3 / 3;
  justify-self: center;
  height: 50px;
  width: 120px;
  color: #FFFFFF;
}